/* ----------------------------------// Apertura General //---------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Amethysta&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Amethysta', serif;
}
:root{
    scroll-behavior: smooth;
}

// Paleta de colores
$color1:#13294b;
$color2:#2905a1;
$color3:#c3d7ee;
$color4:#f5efe6;
$color5:black;

// Estilo de fuente
$font-size:50px;

// Tamaños
$height:500px;
$widht:750px;

// Mixins
@mixin transform ($property) {
    -webkit-transform: $property;
    -ms-transform: $property;
    transform: $property;
}

.header{
    background-color: $color5;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    
        .header__logo{ 
            display: block;
            background-image: url("../Multimedia/Imagenes/LogoBR.webp");
            background-size: cover;
            width: 5.9375em;
            height: 5.625em;

                .header__logo--size{
                    display: block;
                    width: 4.375em;
                    height: 4.375em;
                }
        }

        .header__nav{
            height: 20%;
            background-color: $color5;
            border:$color2;
            border-radius: 0.1875em;
            font-style: italic;
            font-size: 1em;
            text-align: center;

                .header__a--none{
                    color: $color3;
                }
        }

        .dropdown{
            position: relative;
            display: inline-block;
            font-size: 1em;

                .dropdown-content{
                    display: none;
                    position: absolute;
                    text-align: left;
                    background-color: $color5;
                    min-width: 11.25em;
                    box-shadow: 0 0.5em 1em 0 rgba(0,0,0,0.2);
                    border-radius: 0.1875em;

                        a{
                            padding: 0.75em 1em;
                            display: block;
                            text-decoration: none;
                        }

                        a:hover{
                            background-color: $color1;
                        }
                }
        }

        .dropdown:hover{
            
            .dropdown-content{
                display: block;
            }
        }
}

.footer{
    background-color: black;
    width: 100%;
    padding: 1.5625em 0 1.5625em 0.625em;
    margin-top: auto;

        .footer__item--margin{
            margin-left: 1.25em;
        }

        .footer__item:hover{
            background-color: darken($color3, 10);
            padding: 0.1875em 0.1875em;
            border-radius: 0.1875em;
            transition: 0.7s;
            @include transform(scale(1.2))
        }

        .footer__a{
            font-size: 1em;
            color: $color3;
            text-decoration: none;
        }

        .footer__a:hover{
            color: $color1;
            font-weight: bolder;
        }

        .footer__icon{    
            background-image: url("../Multimedia/Imagenes/discord.webp");
            background-size: cover;
            width: 1.5625em;
            height: 1.5625em;

                .footer__aicon--size{
                    display: block;
                    width: 1.5625em;
                    height: 1.5625em;
                }
        }
}


.title{
    color: $color1;
    font-weight: bolder;
    font-size: 2.25em;
    line-height: 3.75em;
}

.centerTitle{
    text-align: center;
    color: $color1 ;
    font-weight: bolder;
    font-size: 2.25em;
    line-height: 2.8125em;
}

.subtitle{
    color: $color1;
    font-weight: bolder;
    font-size: 1.5em;
    line-height: 3.75em;

        .p{
            margin-left: 0.3125em;
        }
}

.p{
    margin-bottom: 1.25em;
    text-align: justify;
    color: $color5; 
    font-weight: normal;
    font-size: 1em;
    line-height: normal;
}

.flexboxColumn{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex-wrap: wrap;
}

.alert{
    z-index: 1;
    position: fixed;
    margin: 0;
    
}
.alert__hide{
    display: none;
}
/* ----------------------------------// Cierre General //---------------------------------- */


/* ----------------------------------// Apertura Secciones //---------------------------------- */
.body{
    background-image: linear-gradient($color3, $color1);
    background-attachment: fixed;
    padding: 7.5em 0 0 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.body__store{
    background-image: linear-gradient(#2c2e2e, $color5);
    background-attachment: fixed;
}

.section{
    width: 90%;
    max-width: 75em;
    margin: 1.25em auto;
    padding-bottom: 2.5em;
    
    /* // Index // */
    .main{
        .main1__img{
            width: 500px;
            height: 450px;
            display: block;
            margin: auto;
        }

        .main1__p{
            padding-top: 10px;
        }

        .main2{
            margin: 30px 0;
                .main2__p{
                    padding-right: 20px;
                }
                
                .main2__table{
                    background-image: url(../Multimedia/Imagenes/Background.webp);
                    filter: opacity(0.7) drop-shadow(0 0 0 $color1); 
                    background-size: cover;
                    overflow: hidden;
                    font-weight: bolder;
                    text-align: center;
                    height: $height - 100;
                        th{
                            border: 2px solid $color1;
                            padding: 15px 20px;
                            color: darken($color1, 15)
                        }

                        td{
                            border: 2px solid $color1;
                            padding: 15px 20px;
                            color: $color1;
                        }
                }
        }
    }

    /* // Cómo Jugar // */
    .howTP__subtitle--margin{
        margin-left: 20px;
    }

    .howTP__a--none{
        text-decoration: none;
        color: $color3;
    }

    /* // Reglas // */
    .rules__p--margin{
        margin: auto;
        width: 50%; 
    }

    .rules__subtitle{
        margin-left: 40px;
    }
    .rules__a{
        text-decoration: none;
        font-size: 24px;
        color: $color3;
    }

    /* // Instalación // */
    .installation__p--margin{
        margin: auto;
        margin-bottom: 50px;
        width: 80%; 
    }
    .installation__subsubtitle--size{
        font-size: $font-size - 28;
        margin-left: 5px;
    }
    .instalattion__a{
        text-decoration: none;
        color: $color3;
    }
    .installation__list{
        margin-left: 100px;
        list-style-type: decimal;
            li{
                margin-bottom: 25px;
            }
    }

    /* // Crear Personaje // */
    .createCharacter__p--margin{
        margin: 20px 0;
    }

    .createCharacter__subtitleUl{
        margin-left: 60px;
    }

    .createCharacter__subtitleUl{
        color: $color1;
        font-size: $font-size - 26;
        line-height: 60px;
        list-style-type: decimal;
            .subtitleUl__p--margin{
                margin-left: 5px;
                margin-bottom: 20px;
            }
    }

    /* // Multimedia // */
    .gallery__photos{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
            "photo1 photo2 photo3 photo4"
            "photo5 photo5 photo6 photo7"
            "photo8 photo9 photo10 photo11";
        justify-items: center;
        align-items: center;
        padding-left: 4%;
            
            .img{
                height: calc($height / 2);
                width: 99%;
                border: 2px solid $color5;
                margin: 3px;
            }

            .img1-icon{
                grid-area: photo1;
            }

            .img2-icon{
                grid-area: photo2;
            }
            
            .img3-icon{
                grid-area: photo3;
            }
            
            .img4-icon{
                grid-area: photo4;
            }
            
            .img5-icon{
                grid-area: photo5;
            }
            
            .img6-icon{
                grid-area: photo6;
            }
            
            .img7-icon{
                grid-area: photo7;
            }
            
            .img8-icon{
                grid-area: photo8;
            }
            
            .img9-icon{
                grid-area: photo9;
            }
            
            .img10-icon{
                grid-area: photo10;
            }
            
            .img11-icon{
                grid-area: photo11;
            }

            .img:hover{
                transition: 0.7s;
                @include transform(scale(1.2))
            }

            @each $image in img1 , img2 , img3 , img4 , img5 , img6 , img7 , img8 , img9 , img10 , img11 {
                .#{$image}-icon {
                    background-image: url("../Multimedia/Imagenes/#{$image}.webp");
                    background-size: cover;
                    background-position: center;
                }
            }

    }

    .multimedia__videos{
        width: 100%;
        height: $height;
        justify-items: center;
        align-items: center;

        .container__video--border{
            border: 2px solid $color5;
            width: 100%;
            height: $height + 4;
            
                .video{
                    width: 100%;
                    height: $height;
                }
        }
        

    }

    /* // CTA // */
    .aboutUs__p--margin{
        margin-left: 20px;
    }

    .contactUs{
        
        .contactUs__form{
            background-color: $color4;
            border-radius: 3px;
            font-size: $font-size - 36;
            padding: 20px;
            width: 600px;
            margin-left: 15px;
        }
    
        .form__field{
            border: solid 1px;
            padding: 10px;
            outline: none;
            width: 70%;
            border-radius: 3px;
        }

        .field__text--width{
            width: 90%;
        }

        .form__field:focus{
            border-color: $color1;
        }

        .form__button{
            border: 0;
            border-radius: 3px;
            background-color: $color1;
            color: $color4;
            padding: 20px 10%;
        }

        .form__button:hover{
            background-color: darken($color1, 5);
        }

        .form__button:active{
            background-color: darken($color1, 10);
        }
    }

    /* // Tienda // */
    .store__nav{
        background-color: $color5;
        width: 9.375em;
        margin-top: 1.25em;
        border: 0;
        border-radius: 0.1875em;
        position: fixed;
        margin-left: 0.75em;
        left: 0;
        z-index: 1;
            .sNav__link{
                font-style: italic;
                font-size: 1em;
                text-align: left;
                color: $color4;
                text-decoration: none;
            }
            }
            .sNav__dropwdown{
                background-color: $color5;
                    .dropdown__link:hover{
                        background-color: $color1;
            }


    }

    .store__navToCart{
        background-color: $color5;
        width: auto;
        margin-top: 1.25em;
        border-radius: 100%;
        position: fixed;
        margin-right: 2.5em;
        right: 0;
        z-index: 1;
        transition: 0.2s;
            .sNav__link{
                font-style: italic;
                font-size: 1em;
                color: $color4;
                text-decoration: none;
                text-align: center;
            }
    }
    .store__navToCart:hover{
        background-color: darken($color1, 5);
    }

    .store__navToCart:active{
        background-color: darken($color1, 10);
    }

    .store__products{
        margin-left: 9.375em;
                    .store__product--margin{
                        margin-bottom: 1.25em;
                        .card{
                            background-color: #2c2e2e;
                            padding: 0.75rem;
                                .card__title{
                                    color: $color4;
                                    padding-bottom: 0.3125rem;
                                    border-radius: 3px;
                                    font-weight: bolder;
                                }
                                .card__img{
                                    border-radius: 3px;
                                    height: 14.375em;                                    
                                }
                                .card__description{
                                    color: $color4;
                                    text-align: left;
                                    margin-top: 0.5em;
                                    margin-left: 0.125rem;
                                }
                                .card__price{
                                    background-color: #03ac13;
                                    color: $color4;
                                    padding: 0.75em 0.9375em;
                                    margin: 0;
                                    border-radius: 0.1875em;
                                }
                        }
                    }
    }


    .cartDivider{
        display: flex;
        align-items: center;
        justify-content: center;
        color: $color3;
        background-color: #2c2e2e;
        border-radius: 6px;
        padding: 0;
        height: 3.75rem;
        margin-bottom: 1.5625rem;

    }

    .cart{
        min-height: 70vh;
        max-width: 62.5em;
        margin: 0 auto;
        width: 100%;
            .table{
                background-color: #2c2e2e;
                    .tr__text{
                        color: $color3;
                    }
                    .cart__product{
                        display: flex;
                        align-items: center;
                        justify-content: start;
                        border-top: none;
                        .cart__product--img{
                            width: 9rem;
                            object-fit: contain;
                            border-radius: 0.375em;
                            margin-right: 1.25em;
                        }
                    }
                    .cart__price{
                        vertical-align: middle;
                    }
                    .cart__quantity{
                        vertical-align: middle;
                        .cart__inputElement{
                            width: 2.5em;
                            border: none;
                            outline: 0;
                            font-size: 1em;
                            font-weight: 43.75em;
                            margin-right: 1.875em;
                            margin-bottom: 1.25em;
                        }
                    }
            }
    }
}
/* // Error 404 // */
.heaeder404{
    background-color: $color5;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 95px;

        .header404__logo{
            display: block;
            background-image: url("../Multimedia/Imagenes/LogoBR404.webp");
            background-size: cover;
            width: 95px;
            height: 90px;
        }
}

.section404{
    display: flex;
    width: 100%;
    height: 75%;
    text-align: center;

        .error404{
            width: 100%;
            height: 250px;
            max-width: 450px;
            background-color: $color4;
            border-radius: 3px;

            .error404__title{
                color: $color3;
                background-color: $color5;
                font-size: 20px;
                border-color: solid 3px $color4;
            }
            
            .error404__tContainer{
                margin-top: 25px;
                font-weight: bolder;
                color: $color5;

                    .error404__subtitle{
                        font-size: 40px;
                        margin-bottom: 25px;
                    }

                    .error404__p{
                        margin: 0 20px;

                            .error404__button{
                                text-decoration: none;
                                font-weight: lighter;
                                color: $color4;
                                background-color: $color1;
                                padding: 3px 5px;
                                border-radius: 3px;
                            }

                            .error404__button:hover{
                                background-color: darken($color1, 5);
                            }

                            .error404__button:active{
                                background-color: darken($color1, 10);
                            }
                    }
            }
            
        }
}

.section__multimedia--gradient{
    padding-bottom: 115px;
}
/* ----------------------------------// Cierre Secciones //---------------------------------- */

/* ----------------------------------// Apertura jQueries //---------------------------------- */
/* // Header Jqueries(large)// */
@media (max-width: 1200px){
    .header{
        position: absolute;
    
            .header__divLogo--center{
                display: flex;
                justify-content: center;
                
                    .header__logo{
                        margin-right: 30px;
                    }
            }
    }

    .section{
        padding-top: 25px;

           .main2__table{
                margin-left: 150px;
            }
    }

    .error404{
        height: 450px;
        max-width: 800px;
    }

}

/* // Header Jqueries(medium)// */
@media (max-width: 992px){

    .header__divLogo--center{
        display: flex;
        justify-content: center;
        
            .header__logo{
                margin-right: 30px;
            }
    }
    
    .section{
        padding-top: 25px;

            .main2__table{
                margin-left: 45px;
            }

            .installation__img{
                height: 350px;
                width: 500px;
                margin: 5px 0;
            }

            .store__products{
                margin-left: 15.625rem;
            }
    }
    
}

/* // Header Jqueries(small)// */
@media (max-width: 768px){
    .body{
        font-size: 14px;
    }

    .header__divLogo--center{
        display: flex;
        justify-content: center;
        
            .header__logo{
                margin-right: 1.875em;
            }
    }

    .header__nav{
        padding-top: 0.625em;
    }

    .section{
        padding-top: 1.5625em;

            .main1__img{
                width: 350px;
                height: 250px;
            }

            .main2__table{
                margin-left: 35px;
            }

            .installation__img{
                height: 275px;
                width: 350px;
                margin: 5px 0;
            }

            .createCharacter__subtitleUl{
                margin-left: 30px;
            }

            .multimedia__videos{
                height: 300px;
        
                .container__video--border{
                    height: 304px;
                    
                        .video{
                            height: 300px;
                        }
                }
            }

            .contactUs__form{
                margin-left: 0;
            }

            .form__button{
                padding: 5px 10%;
            }

            .store__nav{
                width: 100%;
            }
        
            .store__navToCart{
                margin-right: 0.75em;
            }

            .store__products{
                margin-left: 9.375rem;
            }
    }
}

@media (max-width: 576px){
    .body{
        font-size: 12px;
    }
    .section{
        .store__products{
            margin-left: 6rem;
        }
    }
}
/* ----------------------------------// Cierre jQueries //---------------------------------- */